#scrollPane {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding:0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.scroll-bar{
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding:0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}