#timerArc {
    -fx-fill: white;
}
#baseAnchorPane{
    -fx-min-width: 850;
    -fx-min-height: 650;
}
#clockAnchorPane{
    -fx-max-width: 60;
    -fx-min-width: 60;
    -fx-max-height: 60;
    -fx-min-height: 60;
}

#breakAnchorPane{
    -fx-background-color: rgba(4, 1, 24, 1);
}
#pauseAnchorPane{
    -fx-background-color: rgba(4, 1, 24, 0.89);
}

.display-text {
    -fx-font-family: "Inter Regular";
    -fx-font-size: 15px;
    -fx-fill: white;
}

.shaded-anchor-pane{
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-background-radius: 7px;
    -fx-border-radius:	7px;
}

.primary-button{
    -fx-background-color: #F2F2F2;
    -fx-border-width: 1.5px;
    -fx-border-radius:3px;
    -fx-border-color: #CECECE;
    -fx-background-insets: 0;
    -fx-text-fill: #5A5A5A;
    -fx-font: normal normal 15px "Inter Regular";
}

#imageAnchorPane{
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #0d0037 0%, #00081c 100%);
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #282828 0%, #0f0f0f 100%);
}

#quitButton{
    -fx-max-width: 25;
    -fx-min-width: 25;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-background-color:white;
    -fx-border-width: 0;
    -fx-shape: "M21 8.5C25 8.5 25 0.5 21 0.5H6.5C4.33334 0.833374 0 2.80005 0 8V49C0.166656 51.3334 1.70001 56 6.5 56H20C24.5 56 24.5 48 20 48H7.5V8.5H21ZM19 24C16.7909 24 15 25.7909 15 28C15 30.2091 16.7909 32 19 32H43.0184L35.3882 39.6302C33.8261 41.1923 33.8261 43.725 35.3882 45.287C36.9503 46.8491 39.4829 46.8491 41.045 45.287L54.8468 31.4852C55.6794 30.6527 56.0682 29.5446 56.0133 28.4546C56.0682 27.3646 55.6794 26.2565 54.8468 25.424L41.045 11.6221C39.4829 10.0601 36.9503 10.0601 35.3882 11.6221C33.8261 13.1842 33.8261 15.7169 35.3882 17.2789L42.1092 24H19Z";
}

#previousButton{
    -fx-max-width: 31;
    -fx-min-width: 31;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-background-color:white;
    -fx-border-width: 0;
    -fx-shape: "M1.86684 27.115C-0.120738 25.5139 -0.120738 22.4861 1.86683 20.885L26.2492 1.24359C28.8661 -0.864432 32.7585 0.998293 32.7585 4.35861V15.9444L51.0078 1.24362C53.6247 -0.864409 57.5171 0.998317 57.5171 4.35863L57.5172 43.6414C57.5172 47.0017 53.6247 48.8644 51.0078 46.7564L32.7585 32.0556V43.6413C32.7585 47.0017 28.8661 48.8644 26.2492 46.7564L1.86684 27.115Z";
}

#pauseButton{
    -fx-max-width: 22;
    -fx-min-width: 22;
    -fx-max-height: 25;
    -fx-min-height: 25;    -fx-background-color:white;
    -fx-border-width: 0;
    -fx-shape: "M4 0C1.79086 0 0 1.79086 0 4V52C0 54.2091 1.79086 56 4 56H13.3793C15.5884 56 17.3793 54.2091 17.3793 52V4C17.3793 1.79086 15.5884 0 13.3793 0H4ZM36.8276 0C34.6185 0 32.8276 1.79086 32.8276 4V52C32.8276 54.2091 34.6185 56 36.8276 56H46.2069C48.416 56 50.2069 54.2091 50.2069 52V4C50.2069 1.79086 48.416 0 46.2069 0H36.8276Z";
}

#nextButton{
    -fx-max-width: 31;
    -fx-min-width: 31;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-background-color:white;
    -fx-border-width: 0;
    -fx-shape: "M24.7586 32.0556L6.50931 46.7564C3.89246 48.8644 0 47.0017 0 43.6413L2.32974e-06 4.35861C2.43549e-06 0.998293 3.89246 -0.864432 6.50932 1.24359L24.7586 15.9444V4.35863C24.7586 0.998317 28.6511 -0.864409 31.2679 1.24362L55.6503 20.885C57.6379 22.4861 57.6379 25.5139 55.6503 27.115L31.2679 46.7564C28.651 48.8644 24.7586 47.0017 24.7586 43.6414V32.0556Z";
}

#gridButton{
    -fx-max-width: 25;
    -fx-min-width: 25;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-background-color:white;
    -fx-border-width: 0;
    -fx-shape:"M0 0H17V17H0V0ZM0 19H17V37H0V19ZM17 39H0V56H17V39ZM19 0H37V17H19V0ZM37 19H19V37H37V19ZM19 39H37V56H19V39ZM56 0H39V17H56V0ZM39 19H56V37H39V19ZM56 39H39V56H56V39Z";
}

#greyscaleButton{
    -fx-max-width: 38;
    -fx-min-width: 38;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-fill:white;
    -fx-border-width: 0;
    -fx-shape:"M42 52.2541C46.1184 54.6365 50.9 56 56 56C71.464 56 84 43.464 84 28C84 12.536 71.464 0 56 0C50.9 0 46.1184 1.36352 42 3.7459C41.5849 3.5058 41.1631 3.27604 40.7349 3.05698C39.2838 2.31461 37.7593 1.69514 36.1753 1.21232C33.5891 0.424032 30.8441 0 28 0C27.9387 0 27.8773 0.000197299 27.8161 0.000591298C12.4368 0.0995116 0 12.5974 0 28C0 43.4026 12.4368 55.9005 27.8161 55.9994C27.8773 55.9998 27.9387 56 28 56C30.8448 56 33.5904 55.5758 36.1772 54.7871C37.7606 54.3044 39.2844 53.6851 40.7349 52.943C41.1631 52.724 41.5849 52.4942 42 52.2541ZM38.1923 49.6085C31.9677 44.4729 28 36.6998 28 28C28 19.3002 31.9677 11.5271 38.1923 6.39146C35.1076 4.88451 31.6516 4.02853 28 4.0007C27.9388 4.00023 27.8775 4 27.8161 4C14.6628 4 4 14.7452 4 28C4 41.2548 14.6628 52 27.8161 52C27.8775 52 27.9388 51.9998 28 51.9993C31.6516 51.9715 35.1076 51.1155 38.1923 49.6085Z"
    }

#quitButton:hover,
#previousButton:hover,
#pauseButton:hover,
#nextButton:hover,
#gridButton:hover,
#greyscaleButton:hover{
    -fx-border-color: #0075FF;
    -fx-border-width: 0.5px;
    -fx-border-radius:	3px;
    -fx-background-insets: 0;
}
