/*#fxid{}*/
#settingAnchorPane{
    -fx-background-color: white;
    -fx-max-width: 550;
    -fx-min-width: 550;

}
.title{
    -fx-font-family: "Inter Regular";
    -fx-font-size: 20px;
}
.sub-title{
    -fx-font-family: "Inter Regular";
    -fx-font-size: 15px;
    -fx-fill:#5A5A5A;
}
#filesFoundLabel, #shuffleLabel, #subDirectoryLabel{
    -fx-text-fill:#3281DE;
}
#shuffleLabel, #subDirectoryLabel{
    -fx-font-size: 13px;
}
#shuffleButton{
    -fx-max-width: 15;
    -fx-min-width: 15;
    -fx-max-height: 15;
    -fx-min-height: 15;
    -fx-background-color: #5A5A5A;
    -fx-border-width: 0;
    -fx-shape:"M178.089 0C169.203 0 162 7.20319 162 16.0888C162 24.9744 169.203 32.1777 178.089 32.1777H213.117L133.647 111.647L36.4732 14.4733C30.1902 8.19019 20.0033 8.19019 13.7202 14.4733C7.4371 20.7563 7.4371 30.9432 13.7202 37.2263L110.894 134.4L5.3765 239.918C-0.906586 246.201 -0.906586 256.388 5.3765 262.671C11.6596 268.954 21.8465 268.954 28.1295 262.671L235 55.8005V88.8828C235 97.7683 242.203 104.972 251.089 104.972C259.974 104.972 267.178 97.7683 267.178 88.8827V16.0889C267.178 7.20325 259.974 0 251.089 0L250.986 0.000305176L250.883 0H178.089ZM185.35 163.475C179.067 157.192 168.88 157.192 162.597 163.475C156.314 169.758 156.314 179.945 162.597 186.228L211.247 234.878H178.165C169.279 234.878 162.076 242.081 162.076 250.967C162.076 259.852 169.279 267.056 178.165 267.056H250.959C259.844 267.056 267.047 259.852 267.047 250.967C267.047 250.932 267.047 250.898 267.047 250.864C267.047 250.829 267.047 250.795 267.047 250.761V177.967C267.047 169.081 259.844 161.878 250.959 161.878C242.073 161.878 234.87 169.081 234.87 177.967V212.995L185.35 163.475Z";
}

#shuffleButton:hover
{
    -fx-background-color:#85bdff;

}
#shuffleButton:selected
{
   -fx-background-color:#3281DE;
}

.mini-toggle{
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-max-width: 55;
    -fx-min-width: 55;
}
.toggle-button{
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-background-color: #F2F2F2;
    -fx-border-color: #CECECE;
    -fx-background-insets: 0;
    -fx-text-fill: #5A5A5A;
    -fx-font: normal normal 15px "Inter Regular";
}
.middle-toggle{
    -fx-border-radius:	0 0 0 0;
    -fx-background-radius: 0;
    -fx-border-width: 1.5px 0 1.5px 0;
}

.right-toggle{
    -fx-background-radius: 0 3px 3px 0;
    -fx-border-radius:	0 3px 3px 0;
    -fx-border-width: 1.5px 1.5px 1.5px 0;
}

.left-toggle{
    -fx-background-radius: 3px 0 0 3px;
    -fx-border-radius:	3px 0 0 3px;
    -fx-border-width: 1.5px 0 1.5px 1.5px ;
}

.toggle-button:hover, .button:hover{
    -fx-text-fill: #0075FF;
}

.toggle-button:selected, .check-box-toggle{
    -fx-border-color: #CECECE;
    -fx-text-fill: white;
    -fx-background-color: #0075FF;
}
.middle-toggle:selected{
    -fx-border-width: 0px 1.5px 0 1.5px;
}
.right-toggle:selected{
    -fx-border-width: 0 0 0 1.5px;
}
.left-toggle:selected{
    -fx-border-width: 0 1.5px 0 0;
}

.check-box-toggle{
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-min-width: 14;
    -fx-max-width: 14;
    -fx-border-radius:	3px;
    -fx-background-color: #F2F2F2;
}

.button{
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-background-color: #F2F2F2;
    -fx-border-color: #CECECE;
    -fx-border-width: 1.5px;
    -fx-border-radius:	3px;
    -fx-background-insets: 0;
    -fx-text-fill: #5A5A5A;
    -fx-font: normal normal 15px "Inter Regular";
}

.button:pressed{
    -fx-background-color: #0075FF;
    -fx-border-color: #0075FF;
    -fx-text-fill: white;
}

.text-field{
    -fx-background-color: #F2F2F2;
    -fx-border-color: #CECECE;
    -fx-border-width: 1.5px;
    -fx-border-radius:	3px;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-effect: innershadow( gaussian, rgba( 1, 1, 1, 0 ), 10, 0, 5, 5 )
}
.spinner{
    -fx-min-height: 35;
    -fx-max-height: 35;
}
.spinner .text-field{
    -fx-border-width: 0px;
    -fx-border-radius:	0px 0 0 0px;
}
.spinner {
    -fx-border-width: 1.5px 0 1.5px 1.5px;
    -fx-border-radius:	3px 0 0 3px;
    -fx-background-radius: 3px 0 0 3px;
    -fx-border-color: #CECECE;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width:0 1 0 1;
    -fx-background-color: #F2F2F2;
    -fx-border-color: #CECECE;
    -fx-scale-y:1.15
}
.spinner .decrement-arrow-button{
    -fx-border-width:1 1 0 1;
}
.tool-tip-image{
    -fx-max-width: 12;
    -fx-min-width: 12;
    -fx-max-height: 12;
    -fx-min-height: 12;
    -fx-background-color: #CECECE;
    -fx-border-width: 0;
}.tool-tip-image:hover{
    -fx-background-color: #8a8a8a;
}